* {
    margin: 0;
    padding: 0;
}


/* Adding variables */

:root {
    --color-white: #ffffff;
    --color-background-navyblue: #2E2F42;
    --color-title: #000000;
    --color-title-second: #434455;
    --color-accent: #4D5AE5;
    --color-footer-paragraph: #F4F4FD;
    --color-header-border-bottom: #E7E9FC;
}


/* General */

body {
    font-family: Roboto, serif;
    color: var(--color-title);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.64px;
}

.link {
    text-decoration: none;
}


/* Link active and hover */

.logo:active>.footer-logo-web-accent,
.logo:hover>.footer-logo-web-accent {
    color: var(--color-white);
}

.link:active,
.link:hover,
.logo:active>.logo-studio-black,
.logo:hover>.logo-studio-black,
.logo:active>.footer-logo-studio-white,
.logo:hover>.footer-logo-studio-white {
    color: var(--color-accent);
}

.logo:hover>.logo-web-accent,
.logo:active>.logo-web-accent {
    color: var(--color-title);
}


/* Header  */

.header {
    border-bottom: 1px solid var(--color-header-border-bottom);
}

.logo {
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-web-accent {
    color: var(--color-accent);
}

.logo-studio-black {
    color: var(--color-title);
}

.link-nav {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--color-title);
}

.header-link-kontact {
    font-size: 16px;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--color-title-second);
}


/* Main */


/* Hero sectioin */

.hero {
    width: 1440px;
    height: 600px;
    background-color: var(--color-background-navyblue);
}

.hero-title {
    font-size: 56px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    width: 496px;
    text-align: center;
    color: var(--color-white);
}

.hero-botton {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    padding: 16px 32px;
    color: var(--color-white);
    background-color: var(--color-accent);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}


/* About us section */

.about-us-title {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--color-title);
}

.about-us-paragraph {
    font-size: 16px;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--color-title);
}


/* Our team section */

.team {
    background-color: var(--color-footer-paragraph);
}

.second-title {
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--color-title);
}


/* footer */

.footer {
    background-color: var(--color-background-navyblue);
}

.footer-logo-web-accent {
    color: var(--color-accent);
}

.footer-logo-studio-white {
    color: var(--color-white);
}

.footer-paragraph {
    color: var(--color-footer-paragraph);
    font-size: 16px;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}


/* Porfolio */


/* Button-menu */

.portfolio-botton {
    font-weight: 500;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--color-header-border-bottom);
    color: var(--color-accent);
    background-color: var(--color-footer-paragraph);
    cursor: pointer;
}

.portfolio-botton:active,
.portfolio-botton:hover {
    color: var(--color-white);
    background-color: var(--color-accent);
}


/* Aplication */

.aplicaion-img {
    width: 360px;
}

.aplication-title {
    color: var(--color-title);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;
}

.aplication-paragraph {
    color: var(--color-title);
}

.aplication-container {
    border: 1px solid var(--color-header-border-bottom);
    width: 359px;
}